// Variables
@import "variables";

// Bootstrap @import '~bootstrap/scss/bootstrap';

/* standard styles */
@font-face {font-family: logoFont;src: url(/data/fonts/prcb.ttf)}
#login-button:hover {text-decoration: underline}
#footer-logo {width: 250px}
body {background-color: grey}
a{text-decoration: none}
a:hover{text-decoration: underline}
.social-icons {margin: 10px 10px 10px 0px;text-decoration: none}


/* FIRST, style for mobile phones: */
#banner {content:url(/data/imgs/humanitystruth_business_card+bleed.png);width: 100%;height: auto}
.w3-bar-item{padding:2px 16px; max-height: 28px}


/* Next, style for tablets: */
@media only screen and (min-width: 600px) {
    .shopping-cart {
        margin-right:16px!important;
    }

    .margin-right-desktop {
        margin-right:16px!important;
    }

    .margin-left-desktop {
        margin-left:16px!important;
    }
    
    .w3-bar-item{padding:8px 16px; max-height: 38px}
}

/* Lastly, style for desktop: */
@media only screen and (min-width: 768px) {
    #banner {
        content:url(/data/imgs/horsehead_nebula.jpg);
        max-width: 1920px;
        margin: -14% 30% 0 0;
    }

    #crop-banner {
        width: 100%;
        height: 300px;
        overflow: hidden;
    }

    #banner-logo {
        content:url(/data/imgs/logos/humanitystruth.png);
        height: 300px;
    }
    
    #footer {
        max-width: 1024px;
    }
}

/* Notification styles and animations */
#notification{z-index:9; position: fixed;}
#notification-content>p{height: 8px}
.shake{animation-name:shake;animation-duration: .6s}
@keyframes shake{0%,100%{transform:translateX(0)}10%{transform:translateX(-9px)}20%{transform:translateX(8px)}30%{transform:translateX(-7px)}40%{transform:translateX(6px)}50%{transform:translateX(-5px)}60%{transform:translateX(4px)}70%{transform:translateX(-3px)}80%{transform:translateX(2px)}90%{transform:translateX(-1px)}}

.slide-out{animation-name:fade-top;animation-duration: .4s;animation-fill-mode: forwards}
@keyframes fade-top{0%{opacity:1;transform:translateY(0%)}100%{opacity:0;transform:translateY(-100%)}}

.slide-in{animation-name:fade-bottom;animation-duration: .4s;animation-fill-mode: forwards}
@keyframes fade-bottom{0%{opacity:0;transform:translateY(-100%)}100%{opacity:1;transform:translateY(0%)}}

.progress-bar{animation:progress-bar-stripes 2s linear infinite}
@keyframes progress-bar-stripes{0%{background-position:0 0}100%{background-position:30px 0}}

.is-invalid{border: 1px solid #ff5050}
.form-control, .form-control-large{max-width:600px; margin: 0 auto;display: block}
.form-control-large{max-width:900px}
.form-control input{width:100%}


.close::-moz-focus-inner{border:0;padding:0}
.close:hover,.close:focus{opacity:.75;outline:none;text-decoration:none;cursor:pointer}
.close{-webkit-appearance:none;margin:0;padding:0;border:none;background:transparent;display:inline-block;width:20px;line-height:20px;text-align:center;vertical-align:middle;font-size:18px;opacity:.45}
.notify-message>.close{visibility:hidden}
.notify-message:hover>.close{visibility:visible}
.notify-message{opacity: 1;margin-top: 0px;margin-bottom: 0px;padding-bottom: 10px;color: #fff}
.notify-top-center{left:0;margin-left:0;right:0;text-align:center;top:0;width:100%;position:fixed}

.notify-top-center .notify-message+.notify-message:before,.notify-top-center .notify-message:after{border-top:1px solid rgba(0,0,0,0.3);border-bottom:1px solid rgba(0,0,0,0.125);box-shadow:0 1px 0 0 rgba(0,0,0,0.0375);display:block;height:0;left:0;position:absolute;width:100%}
.notify-top-center .notify-message:after{bottom:-2px;top:auto}
